<app-menu></app-menu>

<div class="container my-5">
    
    <div class="row justify-content-center">

        <div class="col-12 col-5 col-md-5">

            <img src="https://firebasestorage.googleapis.com/v0/b/spotify-8664d.appspot.com/o/natalia_lafourcade_1318.webp?alt=media&token=6b9401b9-1c25-4472-a525-3e947afe17a6" alt="" class="col-12 col-5 col-md-5 img-fluid h-50 w-100" >

            <br> <br> <br>

            <img src="https://firebasestorage.googleapis.com/v0/b/spotify-8664d.appspot.com/o/wireimage-875130126.jpg?alt=media&token=fdb5463d-aeed-4a07-bb99-f338e632f447" alt="" class="col-12 col-5 col-md-5 img-fluid h-50 w-100">

        </div>

        <div class="col-12 col-6 col-md-6 border-danger border-start justify-content">
            
            <p>Natalia Lafourcade es una cantautora e instrumentista mexicana. 
                Nació en México el 26 de Febrero de 1984. Desde que era muy pequeña se sentía atraída por la música ya que sus padres se dedicaban a ello; su madre es mexicana y pianista; su padre chileno es clavicembalista. A los tres años empezó a cantar y a los cuatro descubrió que quería ser artista. En su adolescencia tomó clases de pintura, música, piano, flauta, teatro, baile, guitarra, actuación, saxofón y canto. En Coatepec Veracrúz, donde de pequeña vivió muchos años, al lado de su madre estudió música además de tener proyecciones artísticas. Le encantaba hacer imitaciones de Gloria Trevi, Alicia Villareal y de Garibaldi.
                <br> <br> <br>
                En 1998 fue parte del grupo Twist (un grupo sólo de mujeres) cantando canciones de amor. Pero se desintegraron al año de haber sido lanzado. Esto le sirvió a Natalia para decidir lo que quería hacer con su carrera artística; decidió prepararse más para lograr ser mejor artista.
                Al convertirse en solista lanzó su primer disco llamado "Natalia Lafourcade" (2003), producido por Aureo Baqueiro y Loris Ceroni. Regresa en 2005 como Natalia y la Forquetina, grupo cuyo nuevo álbum se titula "Casa". Después del gran éxito que tuvo con su disco debut superando el Disco de Platino en México, "Casa" cuenta con 14 canciones y un bonus track, de las cuales 11 fueron producidas por Meme (tecladista de Café Tacuva); en conjunto produjeron la canción "Un pato", tema incluído en la película "Temporada de patos".
                Después de una gira por México y Estados Unidos, el 2 de Junio de 2006 Natalia y la Forquetina anunciaron su separación para trabajar en proyectos diferentes. Tiempo después, La Forquetina volvió a juntarse, esta vez con un vocal diferente y conformaron Camper.
                Por su parte Natalia Lafourcade se trasladó a Canadá para aprender inglés y regresó a México y comenzó a trabajar en "Las 4 estaciones del amor", su primer disco instrumental, editado en 2007.
                <br> <br> <br>
                En el año 2008 comenzó a grabar su cuarto álbum, el cual se titula "Uh, uh, uh" y es editado en 2009 bajo la producción de Meme (Café Tacvba) y la colaboración de Julieta Venegas. Su primer corte de difusión se titula "Ella es bonita".
                En 2012 llega "Mujer divina - Homenaje a Agustín Lara". Esta producción cuenta con importantes colaboraciones, entre ellas la de Miguel Bosé en "Si no pueden quererte" y la de Kevin Johansen en "La fugitiva". Además participaron Adrián Dárgelos de Babasónicos en "Mujer divina"; Meme de Café Tacvba en "Limosna"; León Larregui de Zoe en "Imposible"; Gilberto Gil en "Farolito"; Vicentico en "Piensa en mí"; Jorge Drexler en "Oración caribe"; y muchos otros.
                En 2015 Natalia Lafourcade se dispone a editar un álbum compuesto íntegramente por ella. Así, adelanta los sencillos "Hasta la Raíz" el 6 de enero y "Nunca Es Suficiente" el 10 de febrero. El material se consigue a partir del 17 de marzo bajo el título "Hasta la Raíz". En julio lanza su tercer corte, "Lo Que Construimos", y realiza una visita promocional a Argentina.
                <br> <br> <br>
                En agosto de 2016 participa del Outside Land Fest, en San Francisco, Estados Unidos, siendo la única artista mexicana convocada.
                El 27 de enero de 2017 Natalia lanza el sencillo "Tú sí sabes quererme", primero del álbum "Musas: Un homenaje al folklore latinoamericano en manos de Los Macorinos"; Los Macorinos fueron los guitarristas de Chavela Vargas desde 2004. El 5 de mayo sale a la venta el álbum completo. Colabora Omara Portuondo en "Tú me acostumbraste". El 18 de agosto sale el sencillo "Mexicana hermosa", a dúo con Carlos Rivera.
                El 11 de enero de 2018 estrena "Danza de gardenias", primer adelanto del álbum "Musas: Un Homenaje al Folklore Latinoamericano En Manos de Los Macorinos - Vol. 2". El tema fue compuesto por Natalia y El David Aguilar. El 9 de febrero sale el álbum, compuesto por 13 canciones. El 4 de marzo canta en la ceremonia de los Premios Oscar "Recuérdame", tema de la película animada "Coco". El 14 de septiembre lanza una versión acústica de "Danza de gardenias", a dúo con Rozalén.
                El 5 de diciembre de 2019, Natalia Lafourcade homenaje a las raíces mexicanas con "Una vida", una canción que será parte del disco "Un canto por México" en favor del Centro de documentación del Son Jarocho.
                El 21 de febrero de 2020, la mexicana lanza una versión de la canción "Veracruz". El 8 de marzo, publica su nueva canción y video "La Malquerida", inspirada en las mujeres mexicanas que fueron maltratadas. El 13 de marzo lanza "El Balajú/Serenata Huasteca". El 8 de mayo lanza  "Un canto por México", su esperada y nueva producción discográfica que nace de un gran show benéfico y que arropa 14 canciones con ritmos, melodías y arreglos que nos recuerdan las raíces de nuestra cultura, la fiesta y el fandango que han hecho de México un lugar como pocos.
                El 26 de marzo del 2021  comparte su emotiva versión de "Alfonsina y El Mar”, como un gran homenaje a la mujer. 

                <br> <br> <br>
                
                El 16 de abril Natalia Lafourcade versiona junto a Pepe Aguilar “Cien años”, un clásico del cancionero mexicano. En mayo lanza "Un canto por México volumen II". En julio recibe un gran reconocimiento al ser incluida dentro de Las 100 Mujeres Más Poderosas De México, por la prestigiosa revista Forbes México, debido a su labor artística y benéfica con los discos "Un canto por México" y "Un canto por México volumen II"
                El 26 de Agosto lanza el video versión acústica de "Para qué sufrir" en colaboración con Jorge Drexler.
                El 13 de mayo de 2022 lanza "Hasta la raíz: el documental". 
                El 17 de junio estrena el single "Tierra querida". 
                
            </p>
            
        </div>
        
    </div>
</div>


<app-footer></app-footer>




    
