.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotify-8664d.appspot.com/o/natalia_lafourcade_portyap_01.jpg?alt=media&token=0992754f-a9c4-49aa-8c3e-aaff99e69d2e');

    background-position: top center;
    background-size: cover;
    padding: 5% 30% 50% 20%;

}