<footer class="text-center text-lg-start bg-light text-muted">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      
      <div class="me-5 d-none d-lg-block">
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
         
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i><img src="https://firebasestorage.googleapis.com/v0/b/spotify-8664d.appspot.com/o/natalia-disco.jpg?alt=media&token=ec9a82a8-a553-4b7d-a1f2-f0b9ae41ad84" alt="" height="90px">
            </h6>
          </div>
         
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              CONTACT US
            </h6>
              0 1800 519 0766
              ORDER INFORMATION
              FAQ
              SITEMAP
          </div>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              OUR COMPANY
            </h6>
            <p>
              FIND A BOUTIQUE
              CAREERS
            </p>
            
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              Shop in: Colombia
            </h6>
            Change country
          </div>
          
        </div>
        
      </div>
    </section>
    
    <div class="text-center p-4" style="background-color: rgb(119, 25, 25); color: aliceblue;">
        Copyright © 2022
    </div>
</footer>
